<style>

  .footer p {
    position: absolute;
    left:20px;
    top:11px;
    font-size:9px;
    color:white;
    letter-spacing: 3px;
    font-family: "Helvetica", sans-serif;
    font-weight: 100;

  }

  .footer {
    position: fixed;
    bottom: 0px;
    left:0;
    width:100%;
    height: 45px;
    background:black;
    z-index: 99999999999999999999999999999999999999999999999;

  }
  .footer-instructions {
    left: 120px !important;
  }



  .right-text ul {
    float:right;
    display: inline;
    margin-right: 20px;
  }

  .right-text ul li {
    display: inline;
    color:white;
    font-size:9px;
    font-family: "Helvetica", sans-serif;
    font-weight: 100;
    letter-spacing: 4px;
    margin-left: 10px;
  }


  .right-text ul li img {
    width:12px;
    height: 12px;
    filter: invert(100%);
    transform: translateY(-2px);

  }
</style>

<!-- Footer -->
<div class="footer">
  <p>&copy; STORYLY &#8759;</p>
  <p class="footer-instructions">Use Arrow Keys or scroll to find out more about STORYLY</p>
  <div class="right-text">
    <ul>
      <li>Social</li>
      <li style="font-size:16px;font-weight: 100 !important;">&#8759;</li>
      <li><img src="https://static1.squarespace.com/static/54b297e1e4b089270ed32a86/54e74d70e4b02db31b39fa08/54e74e97e4b0866feef1025a/1424445173581/twitter-4096-black.png"/></li>
      <li><img src="https://cdn1.iconfinder.com/data/icons/simple-icons/1024/facebook-1024-black.png"/></li>
      <li style="font-size:16px;font-weight: 100 !important;">&#8759;</li>
      <li>TOS</li>
    </ul>
  </div>
</div>