<style>
  .choose-message{
    position: absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    transition : all 400ms ease-in-out
  }

    .choose-story{
      position: absolute;
      top:0;
      left:50%;
      width:50%;
      height:100%;
      transition : all 400ms ease-in-out

    }

    .choose-story h1 {
      color:black;
      margin-top:100px;
      pointer-events: none;
    }
    .choose-message h1 {
      color:black;
      margin-top:100px;
    }

    .shape{
      width: 300px;
      height: 140px;
      border: 12px solid #FA8072;

      position:absolute; /*it can be fixed too*/
      left:0; right:0;
      top:0; bottom:0;
      margin:auto;

      /*this to solve "the content will not be cut when the window is smaller than the content": */
      max-width:100%;
      max-height:100%;
      overflow:auto;
      transition: all 300ms ease-in-out;
      cursor: pointer;
    }

    .choose-message >  h1 {
      width: 300px;
      height: 140px;

      position:absolute; /*it can be fixed too*/
      left:60px; right:0;
      top:58px; bottom:0;
      margin:auto;

      /*this to solve "the content will not be cut when the window is smaller than the content": */
      max-width:100%;
      max-height:100%;
      overflow:auto;
      font-weight: lighter;
      z-index: 99999;
      pointer-events: none;
      transition: all 300ms ease-in-out;

    }

    .choose-story > h1{
      width: 300px;
      height: 140px;

      position:absolute; /*it can be fixed too*/
      left:110px; right:0;
      top:100px; bottom:0;
      margin:auto;
      font-weight: lighter;
      transition: all 300ms ease-in-out;

      /*this to solve "the content will not be cut when the window is smaller than the content": */
      max-width:100%;
      max-height:100%;
      overflow:auto;
    }

    .choose-message:hover .shape {
      border-radius: 100%;
      height:300px;
      border: 12px solid white;

    }
    .choose-message:hover {
      background:  #c51109;
    }
    .choose-message:hover h1{
      color:white;
    }
  .choose-story:hover{
    background: #0B93F6;
  }
  .choose-story:hover h1{
    color:white;

  }
  .choose-story:hover .shape {
    border-radius: 100%;
    height:300px;
    border: 12px solid white;
  }
    .shape:hover{
      background:white;
    }
    .shape:hover ~ h1{
      color:black;
    }
    .new-story{
      background: url(http://vectorboom.com/Freebie/SeamlesPattern/02.jpg);
      color:white;
      text-align: center;
      z-index: 9999999999999999;
      position: absolute;
      top:50px;
      left:0;
      width: 100%;
    }

</style>

<% if user_signed_in? %>
<div class="choose-message">
  <div class="shape">
  </div>
  <h1 class="h1-choose">Story With Text Messages</h1>
</div>

<div class="choose-story">

  <div class="shape">

  </div>
  <h1  class="h1-choose">Free Writer</h1>

</div>

<% else %>
  <script>
    window.location.href = "/"
  </script>
<% end %>


<script>
  $(".choose-message > .shape").click(function(){
      window.location.href = "/stories/new";
  });
  $(".choose-story > .shape").click(function(){
      window.location.href = "/articles/new";
  });
</script>