/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require dropzone/dropzone
 *= require video-js
 *= require_self
 */

    @import "font-awesome";
    @import "bootstrap-sprockets";
    @import "froala_editor.min.css";
    @import "froala_style.min.css";
    @import 'plugins/char_counter.min.css';
    @import 'plugins/code_view.min.css';
    @import 'plugins/colors.min.css';
    @import 'plugins/emoticons.min.css';
    @import 'plugins/file.min.css';
    @import 'plugins/fullscreen.min.css';
    @import 'plugins/help.min.css';
    @import 'plugins/image_manager.min.css';
    @import 'plugins/image.min.css';
    @import 'plugins/line_breaker.min.css';
    @import 'plugins/quick_insert.min.css';
    @import 'plugins/special_characters.min.css';
    @import 'plugins/table.min.css';
    @import 'plugins/video.min.css';
    @import "themes/dark.min.css";



body {
overflow-x: hidden;
  font-family: 'lato', sans-serif !important;
}

.category-overlay{
  position: fixed;
  top:70px;
  left:0;

  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  z-index: 999999;
}

.mobile-brand{
  display: none;
}

.category-overlay h1  {
  z-index: 9999999999;
  color:white;
  margin-left:70px;
  margin-top:30px;
  color:white;
  font-weight:bold;
}

body,html{

  font-family: "Helvetica Neue";
    height: 100%;
    width:100%;
}






figure img {
  border: none !important;
  background: none !important;
}

.brand{
  background:  url(https://d1yn1kh78jj1rr.cloudfront.net/preview/vector-seamless-texture-with-abstract-flowers-endless-background-ethnic-sea_GJZn4Tcd_M.jpg) center center;
  background-size: cover;
  color:white !important;
  font-weight:bold !important;
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
}


@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

a{
  transition: background 300ms ease-in-out;
}
a:hover {

  color: white !important;
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

.pagination{
  width: 50%;
  margin: 0 auto;
  background:rgb(240,240,255);
  font-size:40px;
  width:100%;
  text-align: center;
  color:rgb(80,80,80) !important;
  font-weight:lighter !important;
  position: relative;
  margin-top: 5px;
  margin-left: 8px;
}

section {
    max-width: 450px;
    margin: 50px auto;
}
section div {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 20px;
    line-height: 24px;
}

.clear {
    clear: both;
}

.from-me {
    position: relative;
    padding: 10px 20px;
    color: white;
    background: #0B93F6;
    border-radius: 25px;
    float: right;
    margin-right:100px;
}
.from-me:before {
    border-bottom: 29px solid #0B93F6;
    border-right: 29px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 15px;
    right: -15px;
    content: "";
}




.ajs-content {
    font-weight:bold !important;
    font-size:20px !important;
}



.submit-btn{
    opacity: 0 !important;
}

.ajs-modal > div{
    background:black !important;
    color:white !important;
}
.ajs-footer{
    background:black !important;
    color:white !important;
}
.ajs-header{
    background:black !important;
    color:white !important;

}


.ajs-button{
    background-color: rgb(70,70,70) !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    float:left;
    font-size: 12px !important;
    width:100%;
    position: absolute !important;
    left:-4.5px !important;
    border-radius: 0 !important;


}

.from-them {
    position: relative;
    padding: 10px 20px;
    background: #E5E5EA;
    border-radius: 25px;
    color: black;
    float: left;
    margin-left:50px;
}
.from-them:before {
    border-bottom: 19px solid #E5E5EA;
    border-left: 19px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 1px;
    left: 0px;
    content: "";
}
@media (max-width: 630px) {

  nav{
    height:70px !important;
  }

  nav li a {
    display: none !important;
  }
}

@media (max-width: 490px) {

  .log{
    display: none;
  }

  .mobile-change{
    margin-left: -10px;
    transform:translateX(-25px) !important;
  }

  nav{
    height:50px !important;
  }

}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {  /* For mobile phones: */
  body{
    background: black!important;
    margin: 0;
    pading:0;
    cursor: pointer !important;

  }
  .gold{
    border: none !important;
  }

  .gold-img {
    display: none !important;
  }

  .message-div {
    display: none !important;
  }



  .videos-content{
    background:black !important;
    color:white !important;
    margin-top:50px;
  }

  .form-div {
    height: 1000px !important;
  }



  #message_message1 {
    width:40% !important;
    height: 130px !important; ;
    font-size:40px !important;
    border-radius: .3em !important;
transform: translateY(122px) !important;
  }
  #message_message2 {
    width:40% !important;
    height: 130px !important; ;
    left: 30px;
    border-radius: .6em !important;

    transform: translateY(122px) !important;

  }

  .form-div{
    background: none !important;
    height:700px !important;
  }

  .view-btn {
    position: absolute;
    top:-150px;
    left:-0px;
    width:250px;
    height:70px;
    background: white !important;

  }



  .link-to {
    background: white !important;
    color: black !important;
    margin-left:-27px;
    position: absolute;
    top:0 !important;
    left:80% !important;

  }



  .link-to > h1 {
    color: black !important;
    font-size:53px !important;
  }

  .btn-success {
    font-size:33px !important;
    transform:translateY(10px) !important;
  }

  .edit-story-details{
    background:white !important;
    color:black !important;
    font-size:25px !important;
  }

  .input-group {
    margin-top: -100px;
    margin-left: -50px;
    position: relative;
    background:red;
    width:300px !important;
    height: 60px !important;
  }

  .shape > h1 {
    color: white !important;
  }

  .h1-choose{
    color:white !important;
  }

  .image_inputs{
    margin-top: -100px;
    position: relative;
    width:100% !important;
    height: 60px !important;
    transform:translate(-260px, 200px);
  }
  .buttonText{
    font-size:25px !important;

  }
  .message-big{
    font-size: 60px !important;
    font-weight: bold !important;
    font-family: Montserrat, sans-serif;
  }

  .from-me{
    margin-top: 50px !important;
  }
  .from-them{
    margin-top: 50px !important;
  }

  .brand {
    display: none;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: grey;
    font-size:15px;
    transform:translateX(20px);
    font-size:30px !important;
  }


  .mobile-menu{
    position: fixed;
    top:-10px;
    left:0;
    width:100%;
    height:100%;
    background:black;
    z-index:9;
  }
  .mobile-profile{
    width:30px !important;
    display: none;
    height: 30px !important;
  }

  .name > img {
    width: 20px !important;
    height: 20px !important;
  }

  figure{
    background: none !important;
  }

  .container-form{
    height: 1400px !important;
    width:130% !important;
    margin-left: -110px !important;
    font-size:50px !important;
    margin-top:210px;
  }

  .link-to{
    margin-left: 20px;
    background: white !important;
    transform:translateY(100px);
  }

  .yea {
    background: black !important;
    width: 50px !important;
    color: white !important;
  }


  .story-name {
    display: none !important;
  }

  #user_firstname {
    width:90% !important;
    height: 200px !important;
  }
  #user_lastname {
    width:90% !important;
    height: 200px !important;
  }
  #user_password_confirmation{
    width:90% !important;
    height: 200px !important;
  }

  .sign-up-h1{
    font-size:133px !important;
    padding-bottom: 50px !important;
  }

  #user_remember_me {
    display: none !important;
  }
  .btn-btn{
    height:200px !important;
    font-size:55px !important;
    margin-top:50px;
  }
  .field label {
    display: none !important;
  }
  #user_email {
    width:90% !important;
    height: 200px !important;
  }
  #user_password{
    width:90% !important;
    height: 200px !important;  }

  .category-title{
    font-size:70px !important;
  }

  .mobile-menu > h1 {
    font-size:100px ;
    color:white !important;
    transform:translateY(300px);
    margin-top:20px;
    background:#c51109;
    text-align: center;
  }
  .nav-item{
    color:white !important;
  }
  .pagination{
    font-size:60px;
    height:100px;
  }
  .pagination a {
    font-size:70px;
  }
  .article-story{
    font-size:70px;
    margin-top:100px;
  }

  .mobile-menu > h1:hover {
    background: lightcoral;
  }

  .nav-link {
    font-size:100px !important;
    color:white !important;
    margin-top:100px;
  }
  .category-overlay > h1 {
    font-size:100px !important;
  }

  .category-overlay {
    background: black !important;
  }
  figure{
    width:125% !important;
    margin:0 !important;
    padding:0 !important;
    border:none !important;
    -ms-word-break: break-all;
    word-break: break-all;
  }

  .mobile-brand{
    display: block !important;
    height:170px !important;
    width:100%;
    color:white !important;
    font-weight:bold !important;
    font-size:13px !important;
    position: absolute !important;
    top:-40px;
    left:20px;

  }

  .mobile-brand > h1 {
    font-size: 70px;
    text-align: center;;
    margin-top:20px;
    font-weight: 100 !important;
    transform:translateY(40px);
  }
  

  nav {
    background: none !important;
    position: absolute !important;


  }
  nav li {
    display: none !important;

  }
  nav:after {
    background: none !important;
  }
  nav a {
    display: none !important;
  }

  .overlay  > h1 {
    position: relative !important;
    background: none !important;
    margin-top:50px !important;
    font-weight: bold !important;
  }
  .index-title{
    font-size:40px !important;
    font-weight:bold !important;
    font-family:Montserrat, sans-serif !important;
  }
  .overlay{
    background: rgba(0,0,0,0.05) !important;
    cursor: pointer !important;
  }

  .name {
    transform: translateY(70px)!important;
    font-size: 30px !important;
  }
  .videos-images {
    min-height:300px !important;
  }

  .category{
    top: 25px !important;
    left: 0 !important;
    font-size:25px !important;
    background: none !important;
    margin-left:20px;
  }
  .category:after{
    background: none !important;

  }
  .view-count {
    font-size:30px !important;
    background:none !important;
    font-style: italic;;
    font-weight: bold !important;

  }
  figure img{
    min-height:300px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  #columns {
    width:100% !important;
  }
}


.li-links{
  font-size:25px;
  color:white;
}
#columns {
  column-width: 320px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}

div#columns figure {
  min-width:240px;
  min-height: 200px;
  position: relative;
  background: #fefefe;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin-left: -20px;
  padding: 0;
  padding-bottom:10px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  cursor: pointer !important;

  width:100%;
  height:100%;
  background:rgba(0,0,0,0.1);
}

div#columns figure img {
  width: 100%; height: auto;
  border-bottom: 1px solid white;
  padding-bottom: 0;
  margin-bottom: 0px;
}

.message-container > p {
  font-size: 100px !important;
}

.mobile-bg{
  width:100% !important;
}
div#columns figure figcaption {
  font-size: .9rem;
  color: #fff;
  line-height: 1.5;
}

div#columns small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#columns small a {
  color: #666;
  text-decoration: none;
}




#columns{
  word-break: break-all;
}


@media screen and (max-width: 750px) {
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}



.navigation-bar {
  background-color: GhostWhite;
  border: 1px solid Gainsboro;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;

  &.is-hidden {
    opacity: 0;
    -webkit-transform: translate(0,-60px);
    -webkit-transition: -webkit-transform .2s,background .3s,color .3s,opacity 0 .3s;
  }

  &.is-visible {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -webkit-transition: -webkit-transform .2s,background .3s,color .3s;
  }







  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 1em;
    }
  }
}



a:hover, a:visited, a:link, a:active
{
  text-decoration: none !important;
  color: black;
}

.content {
  min-height: 1200px;
}
