/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

    @import "font-awesome";
    @import "bootstrap-sprockets";


body {

}

body,html{

  font-family: "Helvetica Neue";
  font-weight: normal;
    height: 100%;
    width:100%;
}

section {
    max-width: 450px;
    margin: 50px auto;
}
section div {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 20px;
    line-height: 24px;
}

.clear {
    clear: both;
}

.from-me {
    position: relative;
    padding: 10px 20px;
    color: white;
    background: #0B93F6;
    border-radius: 25px;
    float: right;
    margin-right:100px;
}
.from-me:before {
    border-bottom: 29px solid #0B93F6;
    border-right: 29px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0px;
    right: -5px;
    content: "";
}


.ajs-content {
    font-weight:bold !important;
    font-size:20px !important;
}



.submit-btn{
    opacity: 0 !important;
}

.ajs-modal > div{
    background:black !important;
    color:white !important;
}
.ajs-footer{
    background:black !important;
    color:white !important;
}
.ajs-header{
    background:black !important;
    color:white !important;

}


.ajs-button{
    background-color: rgb(70,70,70) !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    float:left;
    font-size: 12px !important;
    width:100%;
    position: absolute !important;
    left:-4.5px !important;
    border-radius: 0 !important;


}

.from-them {
    position: relative;
    padding: 10px 20px;
    background: #E5E5EA;
    border-radius: 25px;
    color: black;
    float: left;
    margin-left:50px;
}
.from-them:before {
    border-bottom: 19px solid #E5E5EA;
    border-left: 19px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 1px;
    left: 0px;
    content: "";
}

.li-links{
  font-size:25px;
  color:white;
}
#columns {
  column-width: 320px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}

div#columns figure {
  position: relative;
  background: #fefefe;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin-left: -20px;
  padding: 0;
  padding-bottom:10px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.2);
}

div#columns figure img {
  width: 100%; height: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0;
  margin-bottom: 0px;
}

div#columns figure figcaption {
  font-size: .9rem;
  color: #444;
  line-height: 1.5;
}

div#columns small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#columns small a {
  color: #666;
  text-decoration: none;
}



@media screen and (max-width: 750px) {
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}



.navigation-bar {
  background-color: GhostWhite;
  border: 1px solid Gainsboro;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;

  &.is-hidden {
    opacity: 0;
    -webkit-transform: translate(0,-60px);
    -webkit-transition: -webkit-transform .2s,background .3s,color .3s,opacity 0 .3s;
  }

  &.is-visible {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -webkit-transition: -webkit-transform .2s,background .3s,color .3s;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 1em;
    }
  }
}



a:hover, a:visited, a:link, a:active
{
  text-decoration: none !important;
  color: black;
}

.content {
  min-height: 1200px;
}
