/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

    @import "font-awesome";
    @import "bootstrap-sprockets";
    @import "froala_editor.min.css";
    @import "froala_style.min.css";
    @import 'plugins/char_counter.min.css';
    @import 'plugins/code_view.min.css';
    @import 'plugins/colors.min.css';
    @import 'plugins/emoticons.min.css';
    @import 'plugins/file.min.css';
    @import 'plugins/fullscreen.min.css';
    @import 'plugins/help.min.css';
    @import 'plugins/image_manager.min.css';
    @import 'plugins/image.min.css';
    @import 'plugins/line_breaker.min.css';
    @import 'plugins/quick_insert.min.css';
    @import 'plugins/special_characters.min.css';
    @import 'plugins/table.min.css';
    @import 'plugins/video.min.css';
    @import "themes/dark.min.css";



body {
overflow-x: hidden;
  font-family: 'lato', sans-serif !important;
}

.category-overlay{
  position: fixed;
  top:70px;
  left:0;

  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
  z-index: 999999;
}

.category-overlay h1  {
  z-index: 9999999999;
  color:white;
  margin-left:70px;
  margin-top:30px;
  color:white;
  font-weight:bold;
}

body,html{

  font-family: "Helvetica Neue";
  font-weight: normal;
    height: 100%;
    width:100%;
}

.brand{
  background:  url(https://d1yn1kh78jj1rr.cloudfront.net/preview/vector-seamless-texture-with-abstract-flowers-endless-background-ethnic-sea_GJZn4Tcd_M.jpg) center center;
  background-size: cover;
  color:white !important;
  font-weight:bold !important;
  -webkit-animation:100s scroll infinite linear;
  -moz-animation:100s scroll infinite linear;
  -o-animation:100s scroll infinite linear;
  -ms-animation:100s scroll infinite linear;
  animation:100s scroll infinite linear;
}


@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

a{
  transition: background 300ms ease-in-out;
}
a:hover {

  color: white !important;
}

@-o-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-ms-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

.pagination{
  width: 50%;
  margin: 0 auto;
  background:rgb(240,240,255);
  font-size:40px;
  width:100%;
  text-align: center;
  color:rgb(80,80,80) !important;
  font-weight:lighter !important;
  position: relative;
  margin-top: 5px;
  margin-left: 8px;
}

section {
    max-width: 450px;
    margin: 50px auto;
}
section div {
    max-width: 255px;
    word-wrap: break-word;
    margin-bottom: 20px;
    line-height: 24px;
}

.clear {
    clear: both;
}

.from-me {
    position: relative;
    padding: 10px 20px;
    color: white;
    background: #0B93F6;
    border-radius: 25px;
    float: right;
    margin-right:100px;
}
.from-me:before {
    border-bottom: 29px solid #0B93F6;
    border-right: 29px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 15px;
    right: -15px;
    content: "";
}


nav:after {
  content: '';
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(left, #27ae60 0%, #27ae60 20%, #8e44ad 20%, #8e44ad 40%, #3498db 40%, #3498db 60%, #e74c3c 60%, #e74c3c 80%, #f1c40f 80%, #f1c40f 100%);
  background: -moz-linear-gradient(left, #27ae60 0%, #27ae60 20%, #8e44ad 20%, #8e44ad 40%, #3498db 40%, #3498db 60%, #e74c3c 60%, #e74c3c 80%, #f1c40f 80%, #f1c40f 100%);
  height: 5px;
}


.ajs-content {
    font-weight:bold !important;
    font-size:20px !important;
}



.submit-btn{
    opacity: 0 !important;
}

.ajs-modal > div{
    background:black !important;
    color:white !important;
}
.ajs-footer{
    background:black !important;
    color:white !important;
}
.ajs-header{
    background:black !important;
    color:white !important;

}


.ajs-button{
    background-color: rgb(70,70,70) !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    float:left;
    font-size: 12px !important;
    width:100%;
    position: absolute !important;
    left:-4.5px !important;
    border-radius: 0 !important;


}

.from-them {
    position: relative;
    padding: 10px 20px;
    background: #E5E5EA;
    border-radius: 25px;
    color: black;
    float: left;
    margin-left:50px;
}
.from-them:before {
    border-bottom: 19px solid #E5E5EA;
    border-left: 19px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 1px;
    left: 0px;
    content: "";
}


@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {  /* For mobile phones: */
  body{
    background: black!important;
    margin: 0;
    pading:0;
    cursor: pointer !important;

  }

  figure{
    width:100% !important;
    margin:0 !important;
    padding:0 !important;
    border:none !important;
    -ms-word-break: break-all;
    word-break: break-all;
  }
  .overlay  > h1 {
    position: relative !important;
    background: none !important;
    margin-top:50px !important;
    font-weight: bold !important;
  }
  .index-title{
    font-size:40px !important;
    font-weight:bold !important;
    font-family:Montserrat, sans-serif !important;
  }
  .overlay{
    background: none !important;
    cursor: pointer !important;
    z-index: 9999999999999 !important;
  }

  .name {
    transform: translateY(70px)!important;
    font-size: 30px !important;
  }
  .category{
    top: 25px !important;
    left: 0 !important;
    font-size:25px !important;
    background: none !important;
    margin-left:20px;
  }
  .category:after{
    background: none !important;

  }
  .view-count {
    font-size:30px !important;
    background:none !important;
    font-style: italic;;
    font-weight: bold !important;

  }
  figure img{
    min-height:300px !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  #columns {
    width:100% !important;
  }
}


.li-links{
  font-size:25px;
  color:white;
}
#columns {
  column-width: 320px;
  column-gap: 15px;
  width: 90%;
  max-width: 1100px;
  margin: 50px auto;
}

div#columns figure {
  min-width:240px;
  min-height: 200px;
  position: relative;
  background: #fefefe;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin-left: -20px;
  padding: 0;
  padding-bottom:10px;
  transition: opacity .4s ease-in-out;
  display: inline-block;
  column-break-inside: avoid;
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  cursor: pointer !important;

  width:100%;
  height:100%;
  background:rgba(0,0,0,0.2);
}

div#columns figure img {
  width: 100%; height: auto;
  border-bottom: 1px solid white;
  padding-bottom: 0;
  margin-bottom: 0px;
}

.mobile-bg{
  width:100% !important;
}
div#columns figure figcaption {
  font-size: .9rem;
  color: #fff;
  line-height: 1.5;
}

div#columns small {
  font-size: 1rem;
  float: right;
  text-transform: uppercase;
  color: #aaa;
}

div#columns small a {
  color: #666;
  text-decoration: none;
}

#columns{
  word-break: break-all;
}


@media screen and (max-width: 750px) {
  #columns { column-gap: 0px; }
  #columns figure { width: 100%; }
}



.navigation-bar {
  background-color: GhostWhite;
  border: 1px solid Gainsboro;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;

  &.is-hidden {
    opacity: 0;
    -webkit-transform: translate(0,-60px);
    -webkit-transition: -webkit-transform .2s,background .3s,color .3s,opacity 0 .3s;
  }

  &.is-visible {
    opacity: 1;
    -webkit-transform: translate(0,0);
    -webkit-transition: -webkit-transform .2s,background .3s,color .3s;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      padding: 1em;
    }
  }
}



a:hover, a:visited, a:link, a:active
{
  text-decoration: none !important;
  color: black;
}

.content {
  min-height: 1200px;
}
