// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#menu {
  background: hsla(1,0%,100%,.9);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  padding-top: 80px;
}

.story-name{
  font-weight: lighter !important;
  font-family: 'lato' , sans-serif !important;
}